/*start of parallax */

body, html {
  height: 100%;
  margin: 0;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("earth.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("night.jpg");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("sky.jpg");
  min-height: 500px;
}

.bgimg-4 {
  background-image: url("sunset.jpg");
  min-height: 500px;
}
/*
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
*/

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}


  /*end of parallax*/




S
* {
   margin: 0px;
   padding: 0px;
}

html, body {
   width: 100%;
   height: 100%;
}

.header {
  position: fixed;
  top: 3.1em;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

.cube {
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 25s infinite linear;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: 10%;
}

.cube div {
   width: 150px;
   height: 150px;
   line-height: 150px;
   text-align: center;
   box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
   background: rgba(4, 255, 96, 0.3);
   display: block;
   position: absolute;
   margin: 0;
}

.cube div.top {
   -webkit-transform: rotateX(90deg);
  margin-top: -75px;
}

.cube div.right {
   -webkit-transform: rotateY(90deg);
  margin-left: 75px;
}

.cube div.bottom {
   -webkit-transform: rotateX(-90deg);
  margin-top: 75px;
}

.cube div.left {
   -webkit-transform: rotateY(-90deg);
  margin-left: -75px;
}

.cube div.front {
   -webkit-transform: translateZ(75px);
}

.cube div.back {
   -webkit-transform: translateZ(-75px) rotateX(180deg);
}

@-webkit-keyframes spin {
  100% {-webkit-transform: rotateX(-1080deg) rotateY(1080deg);}
  100% {-webkit-transform: rotateX(-1080deg) rotateY(1080deg);}
}

body {
  margin:0;
  background: linear-gradient(rgba(255, 255, 255,0) 60%, rgba(204, 208, 212,.8));
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding:16px 14px;
    text-decoration: none;
    float: right;
    overflow: hidden;
}

li a:hover:not(.active) {
    background-color: #111;
}

li h1 {
  margin: 0;
  margin-top: 4px;
  margin-left: 20px;
  color: white;
  text-align: left;
}

.active {
    background-color: #208bf7;
}


.image {
  margin: 0px;
  width: 100%;
  height: auto;
}


img{
  width: 100%;
  height: auto;
}

h1{
  margin: 6px;
  margin-bottom:0;
}

h2{
  position: absolute;
  top: 20vh;
  margin-left: 32.8%;
  padding: 15px;
  text-align: center;
  width: 30%;
  max-width: 30%;
  font-size: 6.5vh;
  color: white;
  font-weight: bold;
  overflow: hidden;
  border: 2px solid #333;
  background-color: rgba(0,0,0,0.4);
  border-radius: 4px;
}

p {
  font-size: 18px;
}

.leftside {
  /*
  border: 2px solid #333;
  border-radius: 25px;
  padding: 2px;
  */
  float: left;
  width: 50%;
}

.rightside {
  float: right;
  border: 2px solid #333;
  text-align: left;
  width: 45%;
}

hr {
  margin:0;
  border: 1px #333 solid;
}


ol{
  float:left
  display: block;
  text-align: left;
  margin-left: 10px;
}

footer{
  background-color: #333;
  overflow: hidden;
  width: 100%;
  color:white;
}

footer p{
  font-size: 20px;
  margin: 8px;
}
