body {
  margin:0;
}

div {
  margin-top: 30px;
  padding-top: 20px;
  float: inherit;
  text-align: center;
}

p {
  font-size: 18px;
  margin: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding:14px 10px;
    text-decoration: none;
    float: right;
    overflow: hidden;
}

li a:hover:not(.active) {
    background-color: #111;
}

li h1 {
  margin: 0;
  margin-top: 4px;
  margin-left: 20px;
  color: white;
  text-align: left;
}

.active {
    background-color: #208bf7;
}

footer{
  background-color: #333;
  overflow: hidden;
  width: 100%;
  color:white;
  position: static;
}

footer p{
  margin-left: 15px;
}

/*Start of JobFind styles */
div p {
  margin: 20px;
  padding: 20px;
  text-align: justify;
}

div img {
  width: 50%;
}

#bannerdtxt {
  margin: 10px 100px;
  padding: 5px 30px;
}

/* end */

/* Start of Resume and cover letter styles */
.resumebox {
  text-align: left;
}

div h1 {
  margin: 0;
}

#title {
  font-size: 40px;
}

.coverletterbox {
  text-align: left;
}

div hr {
  margin:0;
}

/* Start of tip style */
 ol li{
   font-size: 20px;
 }
 /* End */

 /* Start of questions style */

 #pageimg {
   max-width: 38%;
   height: auto;
 }
  /* End */
